{% extends "base.html" %}{% load static %}{% block content %}

              <div class="container-fluid" style="padding-left: 120px; padding-top:20px">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-header pb-0">
                        <h3>Update form</h3>
                        <button class="btn btn-primary" style="margin-left: 1100px;" type="submit"><a href="{% url 'brand' %}" style="color: white;">Back</a></button>
                      </div>
                      <div class="card-body">
                        <div class="card-wrapper border rounded-3">
                          
                          <form class="row g-8" action="{% url 'updatebrand' data.id %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                          <div class="col-12">
                            <label class="form-label" for="brand_name">Brand Name</label>
                            <input class="form-control" id="brand_name" value="{{data.brand_name}}" name="brand_name" type="text" placeholder="Brand Name" aria-label="Name" >
                          </div>
                          <div class="col-12" style="margin-top: 5px;"> 
                            <label class="form-label" for="brand_image">Choose icon</label>

                            <input class="form-control" name="brand_image" id="brand_image" type="file" id="brand_image"  value="{{data.brand_image}}" >
                           
                          </div>  


                          <div class="col-6">
                            <button class="btn btn-primary" style="margin-top: 20px;" type="submit">Submit</button>
                          </div>
                          <div class="col-6">
                            <img src="{{data.brand_image.url}}" style="height: 100px; padding-left: 400px; padding-top: 20px;">
                          </div>

                        </form>
                        </div>
                      </div>
                    </div>
                  </div>



              {% endblock %}