{% extends "base.html" %}{% load static %}{% block content %}

              <div class="container-fluid" style="padding-left: 120px; padding-top:20px">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-header pb-0">
                        <h3>Update form</h3>
                        <button class="btn btn-primary" style="margin-left: 1100px;" type="submit"><a href="{% url 'series' %}" style="color: white;">Back</a></button>

                      </div>
                      <div class="card-body">
                        <div class="card-wrapper border rounded-3">
                          
                          <form class="row g-8" action="{% url 'updateseries' series.id %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="col-12"> 
                              <label for="collection_name">Collection Name</label>
                              <select id="collection" name="collection" class="form-select">
                                  <option value="" disabled>Select Collection</option>
                                  {% for collection in collections %}
                                  <option value="{{ collection.id }}" {% if series.collection.id == collection.id %}selected{% endif %}>
                                      {{ collection.collection_name }}
                                  </option>
                                  {% endfor %}
                              </select>
                            </div>
                            <div class="col-12" style="margin-top: 5px;">
                              <div class="form-group">
                                <label for="series_name">Series Name:</label>
                                <input type="text" class="form-control" id="series_name" name="series_name" value="{{ series.series_name }}">
                              </div>
                              
                            </div>
                          


                          <div class="col-6">
                            <button class="btn btn-primary" style="margin-top: 20px;" type="submit">Submit</button>
                          </div>

                        </form>
                        </div>
                      </div>
                    </div>
                  </div>



              {% endblock %}

